<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00</td>
        <td>Welcome</td>
      </tr>
      <tr>
        <td>9:15</td>
        <td><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r.html">Introduction to R</a></td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r.html">Introduction to R</a></td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:30</td>
        <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine</a></td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data.html">Starting with Data</a></td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>16:15</td>
        <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data.html">Starting with Data</a></td>
      </tr>
      <tr>
        <td>16:50</td>
        <td>Q&A and Feedback</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>Welcome</td>
      </tr>
      <tr>
        <td>9:10</td>
        <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data.html">Starting with Data (short recap)</a></td>
      </tr>
      <tr>
        <td>9:40</td>
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr.html">Data Wrangling</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr.html">Data Wrangling</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>12:45</td>
        <td><a href="https://cforgaci.github.io/r-socialsci/08-quarto.html">Quarto</a></td>
      </tr>
      <tr>
        <td>13:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td><a href="https://datacarpentry.org/r-socialsci/05-ggplot2.html">Data Visualization</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:15</td>
        <td><a href="https://datacarpentry.org/r-socialsci/05-ggplot2.html">Data Visualization</a></td>
      </tr>
      <tr>
        <td>16:40</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey and wrap-up</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>